<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><i class="iconfont icon-wechat"></i><a class="wechat-link" href="javascript:void(0);"><img class="wechat-qrcode" alt="扫描二维码，关注微信公众号" title="微信公众号water" src="{{ site.url }}/assets/images/qrcode_for_wechat.jpg">water(微信号：water2048)</a></li>
          {% if site.github_username %}
          <li>
			<i class="iconfont icon-github"></i><a href="http://github.com/{{site.github_username}}">{{site.github_username}}</a>
          </li>
          {% endif %}
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
		  
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76257722-1', 'auto');
  ga('send', 'pageview');

</script>
