.navbar {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
}
.container-fluid > .row > .col-sm-6 {
    padding-top: 20px;
}
#chart-panel {
    padding: 10px;
    border-right: 1px solid #9d9d9d;
    background-color: rgb(243, 243, 243);
}
#chart-panel,
#options-panel {
    box-sizing: border-box;
    /*height: 100%;*/
}
#main {
}
#options-panel {
    overflow-y: scroll;
}
#add-btn,
.delete-btn {
    cursor: pointer;
    font-size: 14px;
}

.dynamic-data-item .col-sm-1,
.dynamic-data-item .col-sm-5 {
    height: 34px;
}
