<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>图表生成</title>
	<meta name="description" content="使用echarts在线制作图表，提供png格式图表下载">
	<meta name="keywords" content="图表,饼图,柱状图,折线图,echarts,图表制作,在线图表,傻瓜式图表">
	
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.url }}/assets/css/app-echarts-custom.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
	<nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{site.url}}">王涛的博客</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">饼图 <span class="sr-only">(current)</span></a></li>
                </ul>
				
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="http://github.com/WaTer9527" title="GitHub" style="padding: 12px;"><i class="iconfont icon-github" style="font-size: 28px;"></i>GitHub</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="row">
        <div class="col-sm-6" id="chart-panel">
            <div id="main"></div>
        </div>

        <div class="col-sm-6" id="options-panel">
            <div class="options-container">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="#options-global" role="tab" data-toggle="tab" aria-controls="options-global">全局</a></li>
                    <li role="presentation"><a href="#options-series" role="tab" data-toggle="tab" aria-controls="options-series">系列</a></li>
                    <li role="presentation"><a href="#options-data" role="tab" data-toggle="tab" aria-controls="options-data">数据</a></li>
                    <li role="presentation"><a href="#options-kits" role="tab" data-toggle="tab" aria-controls="options-kits">组件</a> </li>
                    <li role="presentation"><a href="#options-coordinate" role="tab" data-toggle="tab" aria-controls="options-coordinate">坐标系</a></li>
                    <li role="presentation"><a href="#comments" role="tab" data-toggle="tab" aria-controls="comments">评论</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" role="tabpanel" id="options-global">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-4 col-md-2 control-label">背景颜色</label>
                                <div class="col-sm-8 col-md-4">
                                    <input type="checkbox" id="forbiddenBgColor" checked>
                                    <label for="forbiddenBgColor">透明</label>
                                    <input id="global-backgroundColor" type="color" value="#2c343c">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 col-md-2 control-label">颜色列表</label>
                                <div class="col-sm-8 col-md-4">
                                    <!--
                                    <button class="btn btn-xs btn-primary" id="add-color-btn">增加</button>
                                    <button class="btn btn-xs btn-danger" id="delete-color=">删除</button>
                                    -->
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="clearfix" style="margin-left: 15px;margin-right: 15px;">
                                    <input type="color" class="global-color" value="#c23531">
                                    <input type="color" class="global-color" value="#2f4554">
                                    <input type="color" class="global-color" value="#61a0a8">
                                    <input type="color" class="global-color" value="#d48265">
                                    <input type="color" class="global-color" value="#91c7ae">
                                    <input type="color" class="global-color" value="#749f83">
                                    <input type="color" class="global-color" value="#ca8622">
                                    <input type="color" class="global-color" value="#bda29a">
                                    <input type="color" class="global-color" value="#6e7074">
                                    <input type="color" class="global-color" value="#546570">
                                    <input type="color" class="global-color" value="#c4ccd3">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 col-md-2 control-label">文字颜色</label>
                                <div class="col-sm-8 col-md-4">
                                    <input id="global-textStyle-color" type="color" class=" form-control" value="#000000">
                                </div>
                                <label class="col-sm-4 col-md-2 control-label">文字风格</label>
                                <div class="col-sm-8 col-md-4">
                                    <select id="global-textStyle-fontStyle" class="form-control">
                                        <option value="normal" selected>normal</option>
                                        <option value="italic">italic</option>
                                        <option value="oblique">oblique</option>
                                    </select>
                                </div>
                                <label class="col-sm-4 col-md-2 control-label">文字粗细</label>
                                <div class="col-sm-8 col-md-4">
                                    <select id="global-textStyle-fontWeight" class="form-control">
                                        <option value="normal" selected>normal</option>
                                        <option value="bold">bold</option>
                                        <option value="bolder">bolder</option>
                                        <option value="lighter">lighter</option>
                                        <option value="100">100</option>
                                        <option value="200">200</option>
                                        <option value="300">300</option>
                                        <option value="400">400</option>
                                    </select>
                                </div>
                                <label class="col-sm-4 col-md-2 control-label">文字系列</label>
                                <div class="col-sm-8 col-md-4">
                                    <select id="global-textStyle-fontFamily" class="form-control">
                                        <option value="sans-serif" selected>sans-serif</option>
                                        <option value="Microsoft YaHei">Microsoft YaHei</option>
                                    </select>
                                </div>
                                <label class="col-sm-4 col-md-2 control-label">文字大小</label>
                                <div class="col-sm-8 col-md-4">
                                    <input id="global-textStyle-fontSize" type="number" step="0.5" class="form-control" value="12">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 col-md-2 control-label">动画</label>
                                <div class="col-sm-8 col-md-4">
                                    <input id="global-animation" type="checkbox" checked>
                                    <label for="global-animation">开启</label>
                                </div>
                                <label class="col-sm-4 col-md-2 control-label">时长</label>
                                <div class="col-sm-8 col-md-4">
                                    <input id="global-animationDuration" type="number" class="form-control" value="1000" step="100" placeholder="单位：毫秒">
                                </div>
                                <label class="col-sm-4 col-md-2 control-label">缓动效果</label>
                                <div class="col-sm-8 col-md-4">
                                    <select id="global-animationEasing" class="form-control">
                                        <option value="cubicOut">cubicOut</option>
                                        <option value="linear">linear</option>
                                        <option value="quadraticIn">quadraticIn</option>
                                        <option value="quadraticOut">quadraticOut</option>
                                    </select>
                                </div>
                                <label class="col-sm-4 col-md-2 control-label">延迟时间</label>
                                <div class="col-sm-8 col-md-4">
                                    <input id="global-animationDelay" type="number" class="form-control" value="0" step="50" placeholder="单位：毫秒">
                                </div>
                                <label class="col-sm-4 col-md-2 control-label">更新时长</label>
                                <div class="col-sm-8 col-md-4">
                                    <input id="global-animationDurationUpdate" type="number" class="form-control" value="300" step="50" placeholder="单位：毫秒">
                                </div>
                                <label class="col-sm-4 col-md-2 control-label">更新缓动</label>
                                <div class="col-sm-8 col-md-4">
                                    <select id="global-animationEasingUpdate" class="form-control">
                                        <option value="cubicOut" selected>cubicOut</option>
                                    </select>
                                </div>
                                <label class="col-sm-4 col-md-2 control-label">更新延迟</label>
                                <div class="col-sm-8 col-md-4">
                                    <input id="global-animationDelayUpdate" type="number" class="form-control" value="0" step="50" placeholder="单位：毫秒">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" role="tabpanel" id="options-series">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">半径大小</label>
                                <div class="col-sm-10">
                                    <input type="range" id="series-radius" min="0" max="1" step="0.05" value="0.6" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" role="tabpanel" id="options-data">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">饼图数据</label>
                                <div class="col-sm-10">
                                    <button id="add-btn" class="btn-xs btn btn-primary" type="button">添加<span class="glyphicon glyphicon-plus" title="点击添加一条新的数据"></span></button>
                                </div>
                            </div>
                            <div class="form-group dynamic-data-group">
                                <div class="dynamic-data-item clearfix">
                                    <label for="" class="col-sm-1 control-label">1</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control data-value" value="335" placeholder="数据值">
                                    </div>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control data-name" value="直接访问" placeholder="数据名">
                                    </div>
                                    <div class="col-sm-2">
                                        <button class="btn btn-xs btn-danger delete-btn" type="buttton" title="删除该条数据">删除</button>
                                    </div>
                                </div>
                                <div class="dynamic-data-item clearfix">
                                    <label for="" class="col-sm-1 control-label">2</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control data-value" value="310" placeholder="数据值">
                                    </div>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control data-name" value="邮件营销" placeholder="数据名">
                                    </div>
                                    <div class="col-sm-2">
                                        <button class="btn btn-xs btn-danger delete-btn" type="buttton" title="删除该条数据">删除</button>
                                    </div>
                                </div>
                                <div class="dynamic-data-item clearfix">
                                    <label for="" class="col-sm-1 control-label">3</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control data-value" value="234" placeholder="数据值">
                                    </div>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control data-name" value="联盟广告" placeholder="数据名">
                                    </div>
                                    <div class="col-sm-2">
                                        <button class="btn btn-xs btn-danger delete-btn" type="buttton" title="删除该条数据">删除</button>
                                    </div>
                                </div>
                                <div class="dynamic-data-item clearfix">
                                    <label for="" class="col-sm-1 control-label">4</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control data-value" value="135" placeholder="数据值">
                                    </div>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control data-name" value="视频广告" placeholder="数据名">
                                    </div>
                                    <div class="col-sm-2">
                                        <button class="btn btn-xs btn-danger delete-btn" type="buttton" title="删除该条数据">删除</button>
                                    </div>
                                </div>
                                <div class="dynamic-data-item clearfix">
                                    <label for="" class="col-sm-1 control-label">5</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control data-value" value="1548" placeholder="数据值">
                                    </div>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control data-name" value="搜索引擎" placeholder="数据名">
                                    </div>
                                    <div class="col-sm-2">
                                        <button class="btn btn-xs btn-danger delete-btn" type="buttton" title="删除该条数据">删除</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" role="tabpanel" id="options-kits">
                        <ul class="nav nav-pills nav-justified">
                            <li role="presentation" class="active"><a href="#kits-title" aria-controls="kits-title" role="tab" data-toggle="tab">标题</a></li>
                            <li role="presentation"><a href="#kits-legend" aria-controls="kits-legend" role="tab" data-toggle="tab">图例</a></li>
                            <li role="presentation"><a href="#kits-visualMap" aria-controls="kits-visualMap" role="tab" data-toggle="tab">视觉映射</a></li>
                            <li role="presentation"><a href="#kits-dataZoom" aria-controls="kits-dataZoom" role="tab" data-toggle="tab">数据区域缩放</a></li>
                            <li role="presentation"><a href="#kits-timeline" aria-controls="kits-timeline" role="tab" data-toggle="tab">时间线</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="kits-title">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 col-md-2 control-label">标题位置</label>
                                        <div class="col-sm-8 col-md-4">
                                            <select id="title-x" class="form-control">
                                                <option value="left" selected>左侧</option>
                                                <option value="center">居中</option>
                                                <option value="right">右侧</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 col-md-2 control-label">主标题</label>
                                        <div class="col-sm-8 col-md-10">
                                            <input id="title-text" type="text" class="form-control" value="test主标题" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 col-md-2 control-label">副标题</label>
                                        <div class="col-sm-8 col-md-10">
                                            <input id="title-subtext" type="text" class="form-control" value="test副标题" placeholder="">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="kits-legend">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label for="" class="col-sm-4 col-md-2 control-label">图例位置</label>
                                        <div class="col-sm-8 col-md-4">
                                            <select id="legend-left" class="form-control">
                                                <option value="left" >左侧</option>
                                                <option value="center">居中</option>
                                                <option value="right" selected>右侧</option>
                                            </select>
                                        </div>
                                        <label class="col-sm-4 col-md-2 control-label">图例布局</label>
                                        <div class="col-sm-8 col-md-4">
                                            <select id="legend-orient" class="form-control">
                                                <option value="horizontal" selected>水平排列</option>
                                                <option value="vertical">垂直排列</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="kits-visualMap">敬请期待</div>
                            <div role="tabpanel" class="tab-pane fade" id="kits-dataZoom">敬请期待</div>
                            <div role="tabpanel" class="tab-pane fade" id="kits-timeline">敬请期待</div>
                        </div>
                    </div>
                    <div class="tab-pane fade" role="tabpanel" id="options-coordinate">
                        敬请期待
                    </div>
                    <div class="tab-pane fade" role="tabpanel" id="comments">
                        <!-- 多说评论框 start -->
                        <div class="ds-thread" data-thread-key="/app/chart-generator/" data-title="{{ page.title }}" data-url="{{site.url}}{{ page.url }}"></div>
                        <!-- 多说评论框 end -->
                        <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
                        <script type="text/javascript">
                            var duoshuoQuery = {short_name:"water9527"};
                            (function() {
                                var ds = document.createElement('script');
                                ds.type = 'text/javascript';ds.async = true;
                                ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                                ds.charset = 'UTF-8';
                                (document.getElementsByTagName('head')[0]
                                || document.getElementsByTagName('body')[0]).appendChild(ds);
                            })();
                        </script>
                        <!-- 多说公共JS代码 end -->
                    </div>
                </div>
            </div>
			<div class="panel-footer">Powered by <a href="http://echarts.baidu.com/index.html">echarts 3</a></div>
        </div>
    </div>
</div>
    <script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
	<script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//cdn.bootcss.com/echarts/3.1.10/echarts.min.js"></script>
    <script src="{{ site.url }}/assets/js/app-echarts-custom.js" type="text/javascript"></script>
	
</body>
</html>
